In [1]:
%matplotlib inline

In [2]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from tqdm import tqdm
import matplotlib.pyplot as plt
pd.options.display.float_format = '{:.3f}'.format

# 데이터 불러오기

In [3]:
train = pd.read_csv('./data/train.csv')
test = pd.read_csv('./data/test.csv')
car_2020 = pd.read_csv('./data/car_2020.csv',encoding='cp949')
submission = pd.read_csv('./data/sample_submission.csv')

# 컬렴명 바꿔주기

In [4]:
train.columns = ['단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수', '공가수', '신분',
                 '임대보증금', '임대료', '지하철', '버스', '단지내주차면수', '등록차량수' ]

# 지하철 Y or N로 변경

In [5]:
train['지하철'] = train['지하철'].fillna(0)
train['지하철'] = np.where(train['지하철'] == 0, 0, 1)

# 결측치 처리

In [6]:
train.loc[train.임대보증금=='-', '임대보증금'] = np.nan
train.loc[train.임대료=='-', '임대료'] = np.nan
train['임대보증금'] = train['임대보증금'].astype(float)
train['임대료'] = train['임대료'].astype(float)
train['임대보증금'] = train['임대보증금'].fillna(0)
train['임대료'] = train['임대료'].fillna(0)

In [7]:
train['버스'] = train['버스'].fillna(train['버스'].mean())

# 임대건물구분 : 아파트->상가 / 전용면적별세대수 : x->1

In [8]:
idx = train[(train['임대건물구분']=='아파트') & (train['신분']=='D')]['전용면적별세대수'].index
train.loc[idx, '전용면적별세대수'] = 1
train.loc[idx, '임대건물구분'] = '상가'

# 지역명 숫자로 매핑

In [9]:
local_map = {}
for i, loc in enumerate(train['지역'].unique()):
    local_map[loc] = i
    
train['지역'] = train['지역'].map(local_map)

# 총세대수 scale

In [10]:
train['총세대수'] = np.log(train['총세대수'])

#

In [11]:
train_copy = train.copy()

del train_copy['신분'], train_copy['단지코드'], train_copy['임대건물구분'], train_copy['공급유형']

# Model Fitting

In [12]:
x_train = train_copy.iloc[:, :-1]
y_train = train_copy.iloc[:,-1]

forest = RandomForestRegressor(n_jobs=-1, random_state=42)
forest.fit(x_train, y_train)

RandomForestRegressor(n_jobs=-1, random_state=42)

In [13]:
x_train.columns

Index(['총세대수', '지역', '전용면적', '전용면적별세대수', '공가수', '임대보증금', '임대료', '지하철', '버스',
       '단지내주차면수'],
      dtype='object')

# test 불러오기

In [14]:
test.columns = [ '단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수', '공가수', '신분',
                '임대보증금', '임대료', '지하철', '버스', '단지내주차면수' ]

In [15]:
test.loc[test.임대보증금=='-', '임대보증금'] = np.nan
test.loc[test.임대료=='-', '임대료'] = np.nan
test['임대보증금'] = test['임대보증금'].fillna(0)
test['임대료'] = test['임대료'].fillna(0)
test['임대보증금'] = test['임대보증금'].astype(float)
test['임대료'] = test['임대료'].astype(float)

In [16]:
test['지하철'] = test['지하철'].fillna(0)
test['지하철'] = np.where(test['지하철'] == 0, 0, 1)

In [17]:
test.loc[test.단지코드.isin(['C2411']) & test.신분.isnull(), '신분'] = 'A'
test.loc[test.단지코드.isin(['C2253']) & test.신분.isnull(), '신분'] = 'C'

In [18]:
local_map = {}
for i, loc in enumerate(test['지역'].unique()):
    local_map[loc] = i
    
test['지역'] = test['지역'].map(local_map)

In [19]:
test = test[['단지코드', '총세대수', '지역', '전용면적', '전용면적별세대수', '공가수', '임대보증금', '임대료', '지하철', '버스', '단지내주차면수']]

In [20]:
print('단지코드의 Unique : ', len(test['단지코드'].unique()))
print('총세대수의 Unique : ', len(test['총세대수'].unique()))

단지코드의 Unique :  150
총세대수의 Unique :  144

In [21]:
# ['총세대수', '지역', '전용면적', '전용면적별세대수', '공가수', '임대보증금', '임대료', '지하철', '버스', '단지내주차면수']
test.head(10)

,단지코드,총세대수,지역,전용면적,전용면적별세대수,공가수,임대보증금,임대료,지하철,버스,단지내주차면수
0,C1072,754,0,39.790,116,14.000,22830000.000,189840.000,0,2.000,683.000
1,C1072,754,0,46.810,30,14.000,36048000.000,249930.000,0,2.000,683.000
2,C1072,754,0,46.900,112,14.000,36048000.000,249930.000,0,2.000,683.000
3,C1072,754,0,46.900,120,14.000,36048000.000,249930.000,0,2.000,683.000
4,C1072,754,0,51.460,60,14.000,43497000.000,296780.000,0,2.000,683.000
5,C1072,754,0,51.710,51,14.000,43497000.000,296780.000,0,2.000,683.000
6,C1072,754,0,51.960,198,14.000,43497000.000,296780.000,0,2.000,683.000
7,C1072,754,0,51.960,67,14.000,43497000.000,296780.000,0,2.000,683.000
8,C1128,1354,0,39.790,368,9.000,22830000.000,189840.000,0,3.000,1216.000
9,C1128,1354,0,39.790,30,9.000,22830000.000,189840.000,0,3.000,1216.000

In [24]:
fixedData_colName = ['단지코드', '총세대수', '지역', '공가수', '지하철', '버스', '단지내주차면수']
UnfixedData_colName = ['전용면적', '전용면적별세대수', '임대보증금', '임대료']
new_test = pd.DataFrame(columns=test.columns)

test_copy = test.copy()

for idx, danji_code in enumerate(test['단지코드'].unique()):
    
    temp_df = test_copy[test_copy['단지코드'] == danji_code]
    temp_df.index = range(temp_df.shape[0]) # index 재설정
    
    # columns name 가져와서 넣기
    for fixed_colName in fixedData_colName:
        new_test.loc[idx, fixed_colName] = temp_df.loc[0, fixed_colName]
    
    for unfixed_colName in UnfixedData_colName:
        if unfixed_colName == '전용면적별세대수': # 합
            temp_df[unfixed_colName] = temp_df[unfixed_colName].mean()
        else:                                   # 평균 : 전용면적, 임대보증금, 임대료
            temp_df[unfixed_colName] = temp_df[unfixed_colName].mean()
        
        new_test.loc[idx, unfixed_colName] = temp_df.loc[0, unfixed_colName]

C:\Users\pksmb\anaconda3\envs\test\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\pksmb\anaconda3\envs\test\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

# Predict

In [27]:
del new_test['단지코드']
pred = forest.predict(new_test)

In [28]:
pred

array([ 619.23, 1171.64,  373.04,  382.26,  980.15, 1873.27, 1020.15,
        154.21,  155.05,  195.57,  156.97,  140.88,  184.22,  253.65,
        129.8 ,  236.91,  351.56,  274.41,  176.08,  718.87,  237.69,
        219.85,  222.69,  399.29,  184.41,  125.5 ,  125.47,  401.5 ,
        392.86,  409.76, 1005.48,   89.7 ,  363.06,  236.17,   90.33,
        271.5 ,  183.16,  416.94,  870.94,  245.03,  146.58,  180.54,
        284.87,  391.79,  618.87, 1347.91,  182.1 ,  368.53,  249.4 ,
        184.34,  653.05,  195.55, 1156.18,  562.15,  392.64,  201.25,
        390.21,  223.1 ,  145.69,   99.58,  248.58,  180.91, 1038.23,
        293.92,   98.1 ,  274.41,  389.63, 1073.54,  408.35,  411.56,
        522.62,  221.87,  399.31,  879.76,  883.96,  195.54,  575.22,
       1026.4 ,  518.06, 1029.84,  565.71, 1241.07,  233.39,  210.05,
        201.76,  316.57,  189.91,  217.12,  241.26, 1065.  ,  643.98,
        465.75,  204.9 ,  502.47, 1254.06, 1145.48,  414.43, 1204.81,
        693.84, 1070.47,  555.88,  244.4 ,  592.56,  448.3 ,  633.22,
        510.24, 1324.14,  464.51, 1120.57,  278.99,  182.01, 1268.05,
        983.13, 1144.77, 1009.53,   95.11,  131.72,  432.08,  633.58,
       1522.94,  315.35,  831.07,  470.69,  216.71,  591.36,  222.3 ,
        380.32,  522.79,   96.79,   47.73,  119.94,  187.95,  443.3 ,
        246.65,  216.57,  281.46,  338.46,  346.85,  440.43,   95.41,
        410.29,  112.75,  134.75,  266.57,  211.4 ,  177.21,  387.34,
         56.42,  139.13,  197.28])

In [29]:
submission['num'] = pred

In [30]:
submission

      code      num
0    C1072  619.230
1    C1128 1171.640
2    C1456  373.040
3    C1840  382.260
4    C1332  980.150
..     ...      ...
145  C2456  177.210
146  C1266  387.340
147  C2152   56.420
148  C1267  139.130
149  C2189  197.280

[150 rows x 2 columns]

In [31]:
score111 = pd.read_csv('./신분OneHot.csv')

In [33]:
submission['Score111'] = score111['num']

In [38]:
pd.set_option('max_rows', 150)
submission['minus'] = submission['Score111'] - submission['num'] 
submission

      code      num  Score111    minus
0    C1072  619.230   775.550  156.320
1    C1128 1171.640  1325.310  153.670
2    C1456  373.040   569.190  196.150
3    C1840  382.260   530.390  148.130
4    C1332  980.150  1292.720  312.570
5    C1563 1873.270  1775.010  -98.260
6    C1794 1020.150   914.260 -105.890
7    C1640  154.210   539.610  385.400
8    C1377  155.050   364.640  209.590
9    C2072  195.570   290.660   95.090
10   C1472  156.970   486.110  329.140
11   C1006  140.880   280.860  139.980
12   C1083  184.220   472.150  287.930
13   C1311  253.650   277.890   24.240
14   C2676  129.800   231.820  102.020
15   C2318  236.910   325.900   88.990
16   C1603  351.560   399.710   48.150
17   C2523  274.410   323.520   49.110
18   C2177  176.080   180.380    4.300
19   C2411  718.870   718.520   -0.350
20   C2033  237.690   209.610  -28.080
21   C1604  219.850   520.230  300.380
22   C2535  222.690   602.740  380.050
23   C1040  399.290   494.410   95.120
24   C2417  184.410   534.710  350.300
25   C1812  125.500   137.710   12.210
26   C2253  125.470   131.140    5.670
27   C1294  401.500   602.080  200.580
28   C1772  392.860   581.720  188.860
29   C2646  409.760   587.630  177.870
30   C1152 1005.480  1110.540  105.060
31   C2423   89.700   118.470   28.770
32   C1844  363.060   477.240  114.180
33   C1318  236.170   259.200   23.030
34   C1729   90.330   103.400   13.070
35   C1602  271.500   282.250   10.750
36   C1239  183.160   417.590  234.430
37   C1721  416.940   615.630  198.690
38   C1902  870.940   937.530   66.590
39   C1855  245.030   307.840   62.810
40   C2600  146.580   440.060  293.480
41   C1071  180.540   509.070  328.530
42   C2295  284.870   448.240  163.370
43   C1621  391.790   541.930  150.140
44   C1852  618.870   859.820  240.950
45   C2555 1347.910  1229.550 -118.360
46   C1297  182.100   517.010  334.910
47   C2323  368.530   602.680  234.150
48   C2215  249.400   366.960  117.560
49   C2112  184.340   406.180  221.840
50   C1830  653.050   827.890  174.840
51   C2602  195.550   304.970  109.420
52   C2608 1156.180  1221.290   65.110
53   C1215  562.150   690.580  128.430
54   C2369  392.640   670.640  278.000
55   C1158  201.250   355.510  154.260
56   C1887  390.210   545.620  155.410
57   C1189  223.100   319.200   96.100
58   C1637  145.690   459.780  314.090
59   C1225   99.580   102.640    3.060
60   C2374  248.580   390.430  141.850
61   C2397  180.910   600.760  419.850
62   C1105 1038.230  1030.070   -8.160
63   C1782  293.920   492.040  198.120
64   C1629   98.100   103.600    5.500
65   C1708  274.410   295.740   21.330
66   C2144  389.630   541.320  151.690
67   C1617 1073.540  1115.590   42.050
68   C1149  408.350   644.460  236.110
69   C1323  411.560   543.150  131.590
70   C1064  522.620   693.600  170.980
71   C1019  221.870   305.730   83.860
72   C2269  399.310   624.550  225.240
73   C1416  879.760   865.880  -13.880
74   C1250  883.960   902.560   18.600
75   C1741  195.540   511.870  316.330
76   C1016  575.220   686.570  111.350
77   C2675 1026.400  1134.210  107.810
78   C2436  518.060   736.110  218.050
79   C2039 1029.840   916.510 -113.330
80   C1253  565.710   710.470  144.760
81   C2028 1241.070  1299.940   58.870
82   C1166  233.390   337.780  104.390
83   C1135  210.050   298.820   88.770
84   C1216  201.760   369.670  167.910
85   C1593  316.570   233.230  -83.340
86   C1826  189.910   250.480   60.570
87   C1827  217.120   410.700  193.580
88   C1564  241.260   289.900   48.640
89   C1495 1065.000  1000.320  -64.680
90   C2653  643.980   989.250  345.270
91   C1392  465.750   558.000   92.250
92   C2128  204.900   283.610   78.710
93   C1282  502.470   524.140   21.670
94   C1521 1254.060  1129.300 -124.760
95   C2076 1145.480   951.410 -194.070
96   C1060  414.430   620.170  205.740
97   C2473 1204.810  1056.100 -148.710
98   C2557  693.840   978.000  284.160
99   C1835 1070.470   896.080 -174.390
100  C2224  555.880   941.500  385.620
101  C2222  244.400   410.770  166.370
102  C2430  592.560   834.740  242.180
103  C2497  448.300   644.280  195.980
104  C1494  633.220  1028.890  395.670
105  C1457  510.240   582.770   72.530
106  C1525 1324.140  1249.340  -74.800
107  C1712  464.510   560.280   95.770
108  C2267 1120.570   978.150 -142.420
109  C1623  278.990   301.240   22.250
110  C2131  182.010   549.930  367.920
111  C2691 1268.050  1240.040  -28.010
112  C1147  983.130   865.480 -117.650
113  C1692 1144.770   938.510 -206.260
114  C1570 1009.530   941.380  -68.150
115  C1474   95.110   126.250   31.140
116  C1633  131.720   161.830   30.110
117  C2113  432.080   544.580  112.500
118  C2175  633.580   817.080  183.500
119  C2303 1522.940  1451.840  -71.100
120  C2547  315.350   521.960  206.610
121  C2292  831.070   760.680  -70.390
122  C1496  470.690   641.350  170.660
123  C1289  216.710   432.000  215.290
124  C1849  591.360   620.450   29.090
125  C1003  222.300   285.000   62.700
126  C2268  380.320   495.610  115.290
127  C2551  522.790   621.410   98.620
128  C2688   96.790    94.330   -2.460
129  C1030   47.730    44.660   -3.070
130  C1327  119.940   105.560  -14.380
131  C2451  187.950   542.710  354.760
132  C1749  443.300   597.940  154.640
133  C1349  246.650   286.290   39.640
134  C2043  216.570   304.290   87.720
135  C1229  281.460   267.120  -14.340
136  C2363  338.460   432.520   94.060
137  C1414  346.850   483.530  136.680
138  C2174  440.430   492.070   51.640
139  C2091   95.410   107.600   12.190
140  C2335  410.290   551.010  140.720
141  C1841  112.750    76.610  -36.140
142  C2404  134.750   136.980    2.230
143  C1683  266.570   285.020   18.450
144  C1038  211.400   331.880  120.480
145  C2456  177.210   258.220   81.010
146  C1266  387.340   487.570  100.230
147  C2152   56.420    43.290  -13.130
148  C1267  139.130   444.590  305.460
149  C2189  197.280   274.580   77.300

In [40]:
submission['minus'].sum() / 150

107.97933333333334

In [ ]:
# submission.to_csv('baseline.csv', index=False)